<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <h1>No Hit Counter</h1>

    <div id="app">
        <form v-if="viewForm" v-on:submit.prevent="onSubmit">
            <label>Name:</label>
            <input type="text" v-model="currentSetup.name"/>
            <br/>
            <label>Type:</label>
            <input type="nohit" v-model="currentSetup.type"/>
            <br/>

            <button v-on:click="saveSetup(currentSetup)">save</button>
            <button v-on:click="cancelSetup()">cancel</button>

        </form>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>..</th>
            </tr>
            <tr v-for="item in runs">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td><button v-on:click="editSetup(item)">Edit</button></td>
            </tr>
        </table>
    </div>

    <a href="counter/index.html">Counter</a>
    <script src="https://unpkg.com/vue"></script>
    <script src="mainpage.js"></script>
</body>
</html>